@use '../common/palette';

.project-detail-renderer {
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1em;
  }

  h1 {
    font-size: 3.5em; // Larger main heading
    font-weight: 700;
  }

  h2 {
    font-size: 2.8em;
    font-weight: 600;
  }

  h3 {
    font-size: 2.2em;
    font-weight: 500;
  }

  p {
    margin-bottom: 1.5em; // More space between paragraphs
    font-size: 1.1em;
  }

  figure {
    margin: 3em 0; // More vertical space for figures
    text-align: center;

    img,
    iframe {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }

    figcaption {
      font-size: 1em;
      color: palette.$gray-600;
      margin-top: 1em; // More space above caption
      font-style: italic;
    }
  }

  ul,
  ol {
    margin-bottom: 1.5em;
    padding-left: 30px; // Increased padding for lists

    li {
      margin-bottom: 0.8em;
      font-size: 1.1em;
    }
  }

  a {
    color: palette.$primary-color; // Accent color for links
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: palette.$red;
      text-decoration: underline;
    }
  }

  // Responsive adjustments
  @media (max-width: 768px) {
    padding: 20px;

    h1 {
      font-size: 2.5em;
    }

    h2 {
      font-size: 2em;
    }

    h3 {
      font-size: 1.8em;
    }

    p,
    ul li,
    ol li {
      font-size: 1em;
    }

    figure {
      margin: 2em 0;
    }

    .role-block {
      padding: 20px;
      margin: 2em 0;
    }
  }
}