@use 'layout';
@use 'palette';

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('../../../assets/fonts/woff2/PretendardVariable.woff2')
}

* {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

#root {
  width: 100%;
  font-size: 16px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

code {
  user-select: none;
  display: inline-block;
  font-family: 'Courier New', monospace;
  font-size: 1rem;
  font-weight: 600;
  background-color: palette.$gray-200;
  color: crimson;
  padding: .2rem .4rem;
  border-radius: .2rem;
  border: 1px solid palette.$gray-400;
}

main {
  width: 100%;
  margin: 0;

  .main-content {
    height: fit-content;
    margin: 0 auto;
    justify-content: center;
    max-width: layout.$max-width;
    padding: layout.$header-height layout.$padding-lr 0 layout.$padding-lr;

    @media(max-width: 768px) {
      font-size: .9rem;
      padding-top: layout.$header-height-mobile;
    }
  }
}