@use './palette';

@keyframes loading {
  0% {
    background-color: palette.$gray-600;
    opacity: 20%;
  }

  50% {
    background-color: palette.$gray-300;
    opacity: 20%;
  }

  100% {
    background-color: palette.$gray-600;
    opacity: 20%;
  }
}

.loading {
  width: 100%;
  height: auto;
  animation: loading 1s ease infinite;
  -webkit-animation: loading 1s ease infinite;
  -moz-animation: loading 1s ease infinite;
  -o-animation: loading 1s ease infinite;
}