@use 'layout';

.menu-button {
  all: unset;
  display: none;
  background-color: red;

  @media(max-width: layout.$reactive-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .4rem;
    align-items: center;
    cursor: pointer;
    height: 50%;
    aspect-ratio: 1 / 1;
    transition: .3s ease;

    &:hover {
      gap: .5rem;
    }

    .bar {
      height: 3px;
      border-radius: 1.5px;
      width: 100%;
      transition: .3s ease;
      transform-origin: center;
    }

    &.open {

      &:hover {
        gap: .4rem;
      }

      .bar:nth-child(1) {
        width: 141%;
        transform: rotate(45deg) translate(15%, 215%);
      }

      .bar:nth-child(2) {
        width: 0;
        opacity: 0;
      }

      .bar:nth-child(3) {
        width: 141%;
        transform: rotate(-45deg) translate(15%, -215%);
      }

    }

  }
}