@use 'common/layout';

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('../../assets/fonts/woff2/PretendardVariable.woff2')
}

* {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

#root {
  width: 100%;
  font-size: 16px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

main {
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  max-width: layout.$max-width;
  padding: layout.$header-height layout.$padding-lr 0 layout.$padding-lr;

  @media(max-width: 768px) {
    font-size: .9rem;
  }
}