@use 'common/palette';
@use 'common/layout';

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  height: layout.$header-height;
  background-color: white;
  opacity: 95%;
  z-index: 100;
  transition: all 0.3s ease, transfrom 0.1s ease;

  &.hide {
    transform: translateY(-100%);
  }

  @media(max-width: layout.$reactive-width) {
    height: layout.$header-height-mobile;
  }

  .inner {
    max-width: 1280px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: layout.$padding-page;

    .logo-container {
      width: 16rem;

      @media (max-width: layout.$reactive-width) {
        width: 12rem;
      }
    }

    .nav {
      display: flex;
      gap: 2rem;

      a {
        font-weight: 450;
        text-decoration: none;
        border-bottom: .1rem solid transparent;
        transition: all 0.3s;

        &:hover {
          color: var(--accent-color);
          border-bottom: .1rem solid var(--accent-color);
        }

        @media (max-width: layout.$reactive-width) {
          color: palette.$white;
          font-size: 3rem;

          &:hover {
            color: palette.$gray-900;
          }
        }
      }

      @media (max-width: layout.$reactive-width) {
        background-color: var(--accent-color);
        position: fixed;
        top: layout.$header-height-mobile;
        left: 0;
        right: 0;
        bottom: 0;
        padding: layout.$padding-lr;
        flex-direction: column;
        display: none;
        height: 100%;

        &.open {
          display: flex;
        }
      }
    }
  }
}